.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.modal-content{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}
.modal-title{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-body{
  margin-bottom: 1rem;
}
