.header{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 975px;
  margin: 0 auto;
}
.header-logo{
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.header-search{
  margin-left: 10px;
}

.header-nav-item{
  margin-left: 22px;
}