
.btn{
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 0.5em 1em;
}
.btn:disabled{
  cursor: default;
  background-color: var(--color-background-disabled);
}

.btn-default{
  background-color: transparent;
  color: var(--color-text-primary);
}
.btn-primary{
  background-color: var(--color-primary);
  color: white;
}

.btn-small{
  font-size: 12px;
}
.btn-medium{
  font-size: 14px;
}
.btn-large{
  font-size: 16px;
}

.btn-full-with{
  width: 100%;
}

.btn-border{
  border: 1px solid var(--color-primary);
}
.btn-border:hover{
  background-color: var(--color-primary);
  color: white;
}

